/*tetxarea ve color / Ekle button kapsayıcı div*/
.TextAreaDiv {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.TextArea {
  width: 650px;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: white;
  color: #333;
  /* border-radius: 0.5rem; */
}

/*color ve ekle buton div*/
.colorAndBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 10px;  
}

.colorDiv {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.color:hover{
  border: 1px solid #333;
 }
 
.color{
  cursor: pointer;
  border: none;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.ekleBtn {  
  padding: 5px 15px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: rgb(206, 162, 194);
  color: white;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
}
